# Environments
venv/
env/
.venv/
.env

# Local database
*.sqlite3
*.sqlite3-journal

# Cache and logs
__pycache__/
*.py[cod]
*$py.class
.Python
*.log

# Git and Docker
.git/
.gitignore
.dockerignore
Dockerfile

# Build directories
build/
dist/
*.egg-info/
