# Django Setup
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Data Base SQLite3
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

# Django CORS Setup
CORS_ALLOWED_ORIGINS=http://localhost:5173
